[submodule "app/iut-stmalo-sae503"]
	path = app/iut-stmalo-sae503
	url = https://github.com/abacf/iut-stmalo-sae503
[submodule "ansible-k3s"]
	path = ansible-k3s
	url = https://gitlab.otter-elver.ts.net/newrt/sae601/ansible.git